@font-face {
  font-family: minecrafttitle;
  src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
}

.projects__section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4em 3vw 2em;
  gap: 0.5em;
  letter-spacing: 2px;
}

.projects__title {
  font-family: minecrafttitle;
  font-size: clamp(1em, 8vw, 6em);
  color: rgb(53, 248, 111);
}

.projects__label {
  background-color: rgb(53, 248, 111);
  width: 100%;
  height: 5px;
}

.projects__para {
  color: white;
  padding: 0 1em;
  font-size: clamp(1em, 5vw, 1.5em);
}

.projects--container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  padding: 4em 0;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.project--slider {
  min-width: 10%;
  max-width: 45%;
  padding: 0 0.5em;
  display: flex;
  justify-content: start
}
.project--slider:nth-child(1){
  display: flex;
  justify-content: end;
}


.container--project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
}

.project-caption {
  display: flex;
  width: 100%;
  background-color: black;
  overflow: hidden;
  position: relative;
  place-content: center;
  z-index: 20;
}

.project-caption h3 {
  color: white;
  font-weight: 500;
}

.hermano {
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.projects--images {
  position: relative;
  width: 100%;
  max-width: 1000px;
}

.container--project:hover .seemorebtn {
  transition: 0.6s;
  display: flex;
  animation: forwards getUp 1s;
}

/* ~~~~~~~~ */
.seemorebtn {
  display: none;
  z-index: 20;
  position: absolute;
  place-content: center;
  width: 100%;
  cursor: pointer;
}

.btn--sm {
  cursor: pointer;
  background-color: transparent;
  font-size: 2em;
  border: none;
}

.btn--sm:hover {
  transition: 0.6s;
  color: white;
}

.arrow {
  cursor: pointer;
  width: 100%;
}
.arrow--left {
  transform: rotate(-135deg);
}
.arrow--right {
  transform: rotate(45deg);
}

.arrow--left:hover {
  animation: rotateLeft 1s forwards;
}
.arrow--right:hover {
  animation: rotateRight 1s forwards;
}

@media (min-width: 700px) {
  .arrow {
    cursor: pointer;
    width: 70%;
  }

  .btn--sm {
    font-size: 2.5em;
  }

  .seemorebtn {
    padding: 1em;
  }

  .hermano:hover .seemorebtn {
    transition: 0.6s;
    display: flex;
    animation: forwards getUpPC 1s;
  }
}


@keyframes getUp {
  0% {
    background-color: rgb(0, 0, 0);
  }
  10% {
    background-color: rgba(53, 248, 112, 0);
  }
  70% {
    background-color: rgba(53, 248, 112, 0.76);
  }
  100% {
    background-color: rgb(53, 248, 111);
    transform: translateY(-40px);
  }
}

@keyframes getUpPC {
  0% {
    background-color: rgb(0, 255, 200);
  }
  50% {
    background-color: rgb(0, 255, 200);
  }
  100% {
    background-color: rgb(53, 248, 111);
    transform: translateY(-85px);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
