@font-face {
    font-family: minecrafttitle;
    src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
  }




  .skills__container{
    padding: 1em;
  }



  .skills__title{
    font-family: minecrafttitle;
    font-size: clamp(1em, 8vw, 6em);
    color: rgb(53, 248, 111);
    letter-spacing: 2px;
}