@font-face {
    font-family: minecrafttitle;
    src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
  }




  .skills__container{
    padding: 1em;
  }



  .skills__title{
    font-family: minecrafttitle;
    font-size: clamp(1em, 8vw, 4.5em);
    color: rgb(53, 248, 111);
    letter-spacing: 2px;
}

.skillset{
  padding:0  3em;
  display: flex;
  gap: 2em;
}

.skillcard{
  padding:1em 1em;
  background-color: #379355;
}