
@font-face {
    font-family: minecrafttitle;
    src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
}


.contact__color{
    
 background-color: rgb(53, 248, 111);
}


/* .contact__title{
    font-family: minecrafttitle;
    color: rgb(255, 255, 255);
    padding: 2em .5em .5em;
    font-size: clamp(1em, 8vw, 5em);
} */

.contact__container{
    font-family: minecrafttitle;
    display: flex;
    padding: 2em 1em;
}

.contact--list{
    gap: 1.5em;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.list--contact{
    cursor: pointer;
    list-style: none;
    font-size: clamp(.5em, 7vw, 2em);
    font-family: minecrafttitle;
}


.list--contact:hover {
    color: white;
    transition: .3s;
}

.images--container{
    width: 30%;
    display: flex;
    gap: 1.5em;
    align-items: end;
    flex-direction: column-reverse;

}
    
    a{
        width: 40%;
    }

.icon{
    width: 100%;
}

.icon:hover{
    transform: scale(1.1);
    transition: .3s;
}




@media (min-width: 480px) {
   .contact__container{
       flex-direction: column;
       gap: 2em;
   }
   .contact--list{
       flex-direction: row;
       width: 100%;
       justify-content: space-around;
       flex-wrap: wrap;
   }
   .images--container{
       flex-direction: row;
       justify-content: space-around;
       width: 100%;
   }   
    a{
        width: 10%;
    }
}




/* @media (min-width: 900px) {
   .contact__container{
       flex-direction: row;
       padding: 2em;
   }
   .contact--list{
       flex-direction: column;
       width: 50%;
   }
   .list--contact{
    font-size: clamp(.5em, 7vw, 2.5em);
    }

   .images--container{
       flex-direction: column-reverse;
       width: 50%;
       gap: 2em;
   }   
    a{
        width: 15%;
    }
} */