@font-face {
  font-family: minecrafttitle;
  src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
}

.hero__navbar {
  display: flex;
  list-style: none;
  font-size: 1.3em;
  padding: 1em 0;
  color: white;
  justify-content: space-around;
}

.anchors{
  text-decoration: none;
  color: white;
}


.cvdownload {
  display: none;
}

@media (min-width: 1024px) {
  .hero__navbar{
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 0;
    
}

.list--item{
  padding: 0 2em 0 0;
  width: max-content;
}

.list--item:hover{
transform: scale(1.1);
transition: .3s;
}
.list--item:hover a{
  transition: .6s;
color: rgb(53, 248, 111);
}



.hero__navbar a{
    font-family: minecrafttitle;
  font-size: clamp(1em, 3vw, 2.5em);
}

.cvdownload {
  display: inline;
}
}

@media (min-width: 1440px) {
}

@media (min-width: 1840px) {
}
