@font-face {
  font-family: minecrafttitle;
  src: url(./../../assets/fonts/Upheaval.ttf) format("woff2");
}

.aboutme__color {
  padding: 4em 3vw 2em;
  color: rgb(53, 248, 111);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutme__title {
  font-family: minecrafttitle;
  font-size: clamp(1em, 8vw, 6em);
  letter-spacing: 4px;
  min-width: fit-content;
}

.aboutme__label {
  height: 5px;
  width: 100%;
  background-color: rgb(53, 248, 111);
}

.aboutme__section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.aboutme__image {
  padding: .5em 0;
  gap: 3px;
  display: flex;
  height: fit-content;
}

.aboutme__imagediv{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.mobileyes{
  display: flex;
}

.paranotmobile{
  display: none;
}



.aboutme__image--me {
  width: 40%;
  border: 3px solid lightgreen;
  border-radius: 35px;
  background-image: url(../../assets/abtmeimg/junglebg.webp);
  background-position: 55%;
  background-size: cover;
}


.image--2{
display: none;
}


.aboutme__para {
  color: white;
  /* background-color: rebeccapurple; */
  font-size: clamp(1em, 5vw, 1.5em);
}

.startline{
  display: none;
}








@media (min-width: 600px) {
  
  .aboutme__section {
    padding: 0em 3vw;
  }
  .aboutme__image--me {
    width: 30%;
    height: 30%;
  }
  .mobileyes{
    display: none;
  }
  .paranotmobile{
    display: flex;
  }

}


@media (min-width: 775px) {
  
  .aboutme__image--me {
    width: 28%;
    height: 28%;
  }


  
  .aboutme__image {
    padding: .5em 0;
    gap: 1em;
  }
  
  
}



@media (min-width: 1024px) {
  .aboutme__color {
    padding-top: 15em;
  }
  .aboutme__section {
    padding: 2em 3em;
  }
  .aboutme__image--me {
    width: 23%;
  }
  .startline{
    display: flex;
  }
  .endline{
    display: none;
  }
}

@media (min-width: 1440px) {

}

@media (min-width: 1840px) {
  
}